header{
	padding: 25px 0;
}
.content{
	padding: 25px 0;
}
footer{
	padding: 25px 0;
}

table{
	border: 1px solid #cccccc;
	border-collapse: collapse;
}
table th,
table td{
	padding: 5px;
	border: 1px solid #cccccc;
}